@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-hakeem-cream text-hakeem-emerald selection:bg-hakeem-emerald/20 selection:text-hakeem-emerald;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #FDFBF7; 
}
::-webkit-scrollbar-thumb {
  background: #D4AF37; 
  border-radius: 4px;
}